annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
click==8.3.1
exceptiongroup==1.3.1
fastapi==0.123.4
fastcrc==0.3.4
h11==0.16.0
idna==3.11
lxml==6.0.2
pydantic==2.12.5
pydantic_core==2.41.5
pymavlink==2.4.49
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.38.0
websockets==15.0.1
